
<mat-nav-list>
  
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">home</mat-icon> <span class="nav-caption" style="color:#E62642; font-size: 20px;">Home</span>
    </a>
   
    <a mat-list-item routerLink="/home/settings" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">backup</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Article  Settings</span>
    </a>
    <a mat-list-item routerLink="/home/articlesettings" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings_applications</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Article Image Settings</span>
    </a>
    <a mat-list-item routerLink="/home/couriermaser" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings_applications</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Courier  Settings</span>
    </a>
    <a mat-list-item routerLink="/home/agrementsettings" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings_applications</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Agreement  Settings</span>
    </a>
    <a mat-list-item routerLink="/home/orderheader" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">list</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Order Header</span>
    </a>
    <a mat-list-item routerLink="/home/Practise" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Practise</span>
    </a>
    <a mat-list-item routerLink="/home/Test" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Test</span>
    </a>
    <a mat-list-item routerLink="/home/Employee" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Employee</span>
    </a>
    <a mat-list-item routerLink="/home/ProductArticleDetails" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">ProductArticleDetails</span>
    </a>
  </mat-nav-list>