<div class="row">
  <h4 class="dispaly-4"><i class="fa fa-plus"></i> Add Article Image</h4>
<div class="cross">
  <button mat-stroked-button color="warn" [mat-dialog-close] > X</button>
</div>
</div>
<hr>
<form class="example-container" [formGroup]="service.form" (submit)="onSubmit()">
  <div class="form-group row">
    <div class="form-group" class="img-container">
      <label>Article Image</label>
      <div class="input-group" >
        
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" formControlName="articleImage"  >
      </div>
    </div>
    <div class="form-group" class="example-margin">
    <mat-checkbox formControlName="isDefault"  >Default Image</mat-checkbox>
    </div>
  </div>
  <div class="form-group">
    <p>
      <button mat-raised-button color="primary" [disabled]="service.form.invalid" style="margin: 10px;" >Submit</button>
     
    </p>
  </div>
  <p>

    <mat-form-field class="invisible">
      <mat-label>ArticleCode</mat-label>
      <input matInput type="number" formControlName="art_Code"  min="1">
     
  
    </mat-form-field>
 
  </p>
</form>

   
      <table class="table table-borderless">
        <thead class="thead-light">
          <th>Article Image</th>
          <th>Article Code</th>
          <th>Is Default</th>
          <th>Action </th>
          
           
         
        </thead>
        <tbody>
        
    
          <tr *ngFor="let item of service.ArticleEImageList;">
            <td>{{item.articleImage}}</td>
            <td>{{item.art_Code}}</td>
            <td>{{item.isDefault}}</td>
           
            
            
            <td>
             
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteItem(item)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
        
      </table>
     
      <div class="form-group">
        <p>
          <button mat-raised-button color="primary" [disabled]="service.ArticleEImageList.length==0" (click)="onSubmitToServer()" style="margin: 10px;" >Submit</button>
         
        </p>
      </div>