.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    width: 300px;
    margin-top: 10px;
  }
  .example-container .mat-form-field {
    margin-left: 8px;
    width: 300px;
  }
  p{
      text-align: center;
  }
  .img-container{
    margin-left: 53px;
  }
  .example-margin {
    margin-left: 52px;
    margin-top: 35px;
  }
 .cross{
   margin-left: 430px;
 }